
	body{
		margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("../image/back.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

	}

  .box{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: none;
    text-align: center;

  }
  .box h1{
    color:white;
    font-weight: 700;
    text-transform: uppercase;
  }

  .box input[type="text"],.box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    outline: none;
    padding: 14px 10px;
    width: 200px;
    border-radius: 24px;
    color: white;
    font-weight: bold;
  }
  .box input[type = "submit"]{
    display: block;
    background: none;
    color: white;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 7px 5px;
    outline: none;
    border-radius: 12px;
  }
  .box input[type = "submit"]:hover{
    background: #2ecc71;
  }
  .box button[type = "button"]{
    display: block;
    background: none;
    color: white;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 7px 5px;
    outline: none;
    border-radius: 12px;
  }
  .box button[type = "button"]:hover{
    background: #2ecc71;
  }