
	body{
		margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #191919;
	}

  .signup_box{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: none;
    text-align: center;
    outline: gray;
    outline-style: dotted;
  }
  .signup_box h1{
    color:white;
    font-weight: 700;
    text-transform: uppercase;
  }

  .signup_box input[type="text"],.signup_box input[type="password"],.signup_box input[type="Email"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    outline: none;
    padding: 14px 10px;
    width: 200px;
    border-radius: 24px;
    color: white;
    font-weight: bold;
  }
  .signup_box input[type = "submit"]{
    display: block;
    background: none;
    color: white;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 7px 5px;
    outline: none;
    border-radius: 12px;
  }
  .signup_box input[type = "submit"]:hover{
    background: #2ecc71;
  }
  .signup_box input[type = "button"]{
    display: block;
    background: none;
    color: white;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 7px 5px;
    outline: none;
    border-radius: 12px;
  }
  .signup_box input[type = "button"]:hover{
    background: red;
  }